<div class="container">
<form [formGroup]="commentForm" (ngSubmit)="formInformation()">

    <mat-form-field class="example-form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            </button>
    </mat-form-field>
    <mat-radio-group aria-label="Select an option"class="radio" formControlName="gender">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill">
        <mat-label>Write your comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    <button mat-stroked-button color="accent" >Send</button>
</form>
</div>